<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi Primera Web</title>
	<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Mi Primera Web</h1>
		</header>
		<nav>
			<a href="../index.html">Quién Soy</a>
			<a href="hobbies.html">Qué me gusta hacer</a>
			<a href="familia.html">Mi familia</a>
		</nav>
		<section>
			<h2>Estos son mis Hobbies</h2>
			<p>Mis hobbies son ver videos de YouTube, jugar videojuegos y dibujar.</p>
			<div class="image-gallery">
				<figure>
					<img src="../assets/images/gta.png" alt="GTA San Andreas">
					<figcaption>El GTA San Andreas fue uno de los primeros juegos que jugué en mi vida y aún me sigue gustando.</figcaption>
				</figure>
				<figure>
					<img src="../assets/images/mario.png" alt="Super Mario World">
					<figcaption>El Super Mario World lo comencé a jugar cuando tuve mi primer PS2, gracias a un juego pirata.</figcaption>
				</figure>
				<figure>
					<img src="../assets/images/osu.png" alt="OSU">
					<figcaption>OSU es un juego de ritmo donde tienes que presionar clic derecho o una tecla en el momento adecuado.</figcaption>
				</figure>
				<figure>
					<img src="../assets/images/dbz.png" alt="Dragon Ball Z Budokai Tenkaichi 3">
					<figcaption>Dragon Ball Z Budokai Tenkaichi 3 es el mejor juego de Dragon Ball, con mods que añaden nuevos personajes.</figcaption>
				</figure>
				<figure>
					<img src="../assets/images/anime.png" alt="Anime">
					<figcaption>A veces veo series de anime de 12 capítulos o más cuando tengo tiempo libre.</figcaption>
				</figure>
				<figure>
					<img src="../assets/images/monachina.png" alt="Dibujo">
					<figcaption>Antes me gustaba dibujar mucho, pero quiero retomar esa pasión poco a poco.</figcaption>
				</figure>
				<figure>
					<img src="../assets/images/monochino.png" alt="Otro dibujo">
					<figcaption>Otro dibujo que hice en el pasado.</figcaption>
				</figure>
			</div>
		</section>
		<footer>
			<p>Página realizada por Miller Salazar &copy;Todos los derechos reservados 2024</p>
		</footer>
	</main>
</body>
</html>
